.custom-file-drop-zone {
  border: 2px dashed #3498db;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  transition: border 0.3s;
  position: relative;
}

.custom-file-drop-zone:hover {
  border-color: #2980b9;
}

.custom-file-drop-zone input {
  display: none;
}

.drop-zone-text {
  display: flex;
  flex-direction: column;
  color: #3498db;
  font-size: 18px;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
